.Calendar {
    width: 100%;
    overflow: hidden;
    position: relative;
    /*height: 100px;*/

}
.Calendar__room{
    margin-bottom: 20px;
    background: #eee;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.Calendar__feedWrap{
    overflow: auto;
    position: relative;
    /*height: 100px;*/
}
.Calendar__feed {
    display: inline-block;
    min-width: 100%;
}
.Calendar__feed-block{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 43px;
    min-height:20px;
    background: #fff;
    margin-bottom: 5px;
}
.Calendar__feed-block:nth-last-child(1){
    margin-bottom: 0;
}
.Calendar__feed-block--daysTopBar{
    min-height:1px;
    padding-left: 0;
    margin-left: 43px;
}
.Calendar__item{
    min-width: 80px;
    width: 80px;
    padding: 0 5px 5px;
    background: #fff;
    /*margin-bottom:10px;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
}
.Calendar__item.day{
    padding: 0;
    width: 60px;
    min-width: 60px;
    margin-right: 5px;
}
.Calendar__item--dayName{
    text-align: center;
    font-weight: 900;
    padding: 5px!important;
    line-height: 1;
}
.Calendar__item--all{
    background: rgba(255,255,255,.9);
    width: 150px;
    min-width: 120px;
    padding-top: 5px;
    display: flex;
}
.Calendar__input{
    border: 1px solid #ccc!important;
    height: 1.5rem!important;
    text-align: center;
    width: calc(100% - 2px)!important;
}
.Calendar__input:focus {
    border: 1px solid #4285F4!important;
}
.Calendar__members-count {
    position: absolute;
    left: 5px;
    top: .5rem;
    font-weight: 900;
}
.day .Calendar__members-count {
    top: .3rem;
}
.smallLabel{
    font-size: .8rem;
    line-height: .9rem;
}
.control-label--calendar{
    background: transparent!important;
    margin-top: .7rem !important;
}
.Calendar__datepicker{
    z-index: 1000;
}
.Calendar__datepicker,
.datePicker__overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.datePicker {
    overflow: auto;
}
.datePicker__overlay{
    z-index: -1;
    background: rgba(0,0,0,.6)
}
.datePicker__content{
    position: relative;
    z-index: 1;
}
.datePicker__close {
    position: absolute;
    right: 10px;
    top:10px;
    color: white;
    font-size: 3rem;
    opacity: .6;
    transition: all .5s;
    cursor: pointer;
}
.datePicker__close:hover{
    opacity: .9;
}

.daysTopBar__month{
    /*background: #e2e2e2;*/
    margin-right: 10px;
}
.daysTopBar__monthName {
    padding: 0 5px;
    text-transform: capitalize;
    font-weight: 900;
}
.Calendar__monthFeed {
    display: flex;
    margin-right: 10px;
    padding: 5px 0;
}

.day .Calendar__feed-block{
    min-height: 30px;
}
.Calendar__d {
    font-size: .8em!important;
    line-height: 1;
    height: 1em!important;
    box-sizing: border-box;
}
.Calendar__itemDay{
    background: #f3f3f3;
    height: 1.5rem;
    border: 1px solid rgba(0,0,0,.15);
}
.Calendar__item.day .selected {
    background: #fff;
}
.scroll-horizontal > div{
    position: relative!important;
}

.CalendarHeader{
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 0 10px;
    border-bottom: 1px solid silver;
    text-align: center;
}
.CalendarHeader__members{
    width:35px;
}
.CalendarHeader__all {
    width: 120px;
    font-size: .67rem;
}
.CalendarHeader__period {
    padding: 0 40px;
}

.Calendar__free{

}
.period__dates{
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1;
    cursor: pointer;
}
.Calendar__scrollBar{
    display: none;
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 19px;
    overflow-x:scroll;
    overflow-y:visible;
    border: 1px solid rgba(255, 0, 0, .7);
    border-width:2px 0;
    opacity: .8;
    margin-left: -15px;
    z-index: 200;
}
/*.Calendar__scrollBar:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: -2px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: -2px;*/
    /*background: red;*/
    /*z-index: 10;*/
/*}*/
.Calendar__scrollBar.show{
    display: block;
}
.Calendar__scrollBarInner{
    height: 1px;
}
.Calendar__periods {
    padding-left: 193px;
    min-height: 0;
    margin-bottom: 1px;
}
.Calendar__periods--weekdays{
    padding-left: 35px;
}
.Calendar__btnOk {
    margin-top: 3px!important;
    padding: .3rem .6rem!important
}
.Calendar__item.period,
.Calendar__item.month,
.period__name{
    padding: 0 0 5px;
    margin: 0 2px;
}
.Calendar__item.month,
.Calendar__item.period{
    padding-top: 7px;
}

.Calendar__input--allprice{
    font-size: .8rem!important;
    height: 1rem!important;
}
.all_or_fill {
    display: none;
}
.all_or_fill+label{
    background: #00C851;
    color: #fff;
    padding: 1px 5px;
    cursor: pointer;
    width:100%;
    text-align: center;
    transition: all .5s;
}
.all_or_fill:checked+label{
    background: #007d33;
}
.Calendar__allSwitch{
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    flex-basis:50%;
}
.month__name{
    text-align: center;
    background: #2196F3;
    color: #fff;
    font-size: .8rem;
    font-weight: 900;
    padding: 5px 3px;
}
.btn-addPeriod{
    white-space: nowrap!important;
    margin: 0;
}
.period__name {

}
.Calendar__item:nth-child(2n-1){
    background: #e8e8e8;
}
.Calendar__yearName{
    border-left: 2px solid #2196F3;
    margin-left: 2px;
    font-weight: 900;
    color: #2c83c7;
    padding-left: 5px;
}
.weekdaysFilter__checkbox {
    display: none;
}

.weekdaysFilter__label {
    padding: 2px 5px;
    background: #9e9e9e;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    line-height: 1;
    font-size: .75rem;
    transition: .5s all;
}
.weekdaysFilter__label:hover{
    opacity: .8;
}
.weekdaysFilter__button {
    display: inline-block;
    margin-right: 1px;
    transition: all .5s;
}
.weekdaysFilter__checkbox:checked + .weekdaysFilter__label{
    background: #2196F3;
    /*transform: scale(.95);*/
}
.weekdaysFilter__checkbox:checked + .weekdaysFilter__label--sun,
.weekdaysFilter__checkbox:checked + .weekdaysFilter__label--sat {
    background: #F44336;
}
.weekdaysFilter__checkbox + .weekdaysFilter__label:before{
    /*position: absolute;*/
    /*z-index: -1;*/
    /*top:0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    display: block;
    content: "\f00d";
    text-align: center;
    font-family: 'FontAwesome';
    /*font-size: 1.8rem;*/
    /*line-height: .9;*/
    /*color: rgba(0, 200, 81, .9);*/
    /*opacity: 0;*/
}
.weekdaysFilter__checkbox:checked + .weekdaysFilter__label:before{
    content: "\f00c";
}


.weekdaysFilter{
    position: relative;
    z-index: 1;
}
.weekdaysFilter:before{
    content:'Загрузка...';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    line-height: 3;
    font-weight: 900;
    display: none;
}
.weekdaysFilter.loading:before{
    display: block;
}